extends ../base/layout

block variables
  - const title = "Главная - Test"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentPage = "main.html"
  - const userAuthorized = false

block main
  main
    .page-content
      h1.visually-hidden Стоматологическая компания
      +campaign()
      +advantages()

block modals
