.mobile-nav {
  position: relative;
}

.mobile-nav__wrapper {
  display: none;
  opacity: 0;
  height: 0;
  transition: transform $trans-default, opacity $trans-default;
}

.mobile-nav__wrapper.active {
  display: block;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 100;
  width: 100%;
  height: auto;
  background-color: $color-default-white;

  padding: 20px 0 28px;
}

.mobile-nav__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.mobile-nav__item {
  margin-bottom: 12px;
  font-size: 17px;
  line-height: 24px;


  @include vp--767 {
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }
}

.mobile-nav__link {
  color: $color-nero;
}

.mobile-nav__select {
  padding: 0;
  color: $color-nero;
}
