//- Базовые
//- ---------------------------------

include ../mixins/basic/sprite
include ../mixins/basic/icon
include ../mixins/basic/img
include ../mixins/basic/video
include ../mixins/basic/picture
include ../mixins/basic/video

//- Компоненты
//- ---------------------------------

include ../mixins/components/advantages
include ../mixins/components/doctors-slider
include ../mixins/components/icons-list
include ../mixins/components/campaign
include ../mixins/components/campaign-form
include ../mixins/components/custom-input
include ../mixins/components/search
