// Colors
// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-nero:                      #252525;
$color-nobel:                     #9f9f9f;
$color-raven:                     #717880;
$color-light-grey:                #d7d7d7;
$color-solitude:                  #edeff2;
$color-solitude-2:                #e0e3e8;
$color-free-speech-red:           #d80909;
$color-free-speech-red-2:         #d90800;
$color-navy-blue:                 #0051d4;
$color-dodger-blue:               #0866ff;
$color-dodger-blue-2:             #3b86ff;

// Typography
//---------------------------------

$font-family--commissioner:        "Commissioner", "Arial", sans-serif;

// Animation
//---------------------------------

$tf-default: ease;
$trans-default: 0.25s $tf-default;

// Viewports
//---------------------------------

$vp--320:                           320px;
$vp--375:                           375px;
$vp--768:                           768px;
$vp--1024:                          1024px;
$vp--1280:                          1280px;
$vp--1440:                          1440px;
$vp--1920:                          1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
