mixin search(data)
  - const {mods="", inputId="", inputName="", placeholder="", inputError = data.inputError ? data.inputError : false} = data;

    .search
      .search__input.js-reset-btn
        form(action="#", method="get")
          .custom-input(class!=mods)
            button.search__input-btn.button.button--transparent.hover-black(type="submit", aria-label="Искать")
              span.search__icon
                +icon("icon-search", 27, 27)
            label
              input(id!=inputId, type="search", name=inputName, placeholder!=placeholder, value=value && value)
              if inputError
                .custom-input__error!=inputError
