mixin yoga()
  section.yoga
    .container
      h2 Йога туры
      .yoga__text-block
        h3 Первая часть тура: «Искусство дыхания» (25 февраля -6 марта)
        +picture("content", "yoga", "jpg", 604, 416, "Статуя Будды")
        p Эта часть тура пройдет на берегу Арабского моря, в небольшом южном штате Гоа. Зимние месяцы в Гоа отличаются особо мягким климатом. Погода в это время идеальна, безоблачное синие небо, теплые, и в то же время не жаркие дни и спокойное море. Самый подходящий климат для практики.
        p Кроме того, это даёт возможность искупаться и позагорать в свободное от практик время!
        p В программе семинара:
        ul
          li Пранаямы и крия как основа дыхания
          li Базовые асаны и их роль в йоге и терапевтический эффект
          li Основы теории и философии йоги и их применение на практике.
          li Мантры и Бхаджаны&nbsp;&mdash;&nbsp;звуковая вибрация и ее значение.
        p Преподаватель&nbsp;&mdash;&nbsp;
          a(href="#", aria-label="Узнать о преподавателе") Дмитрий Орехов

      .yoga__text-block
        h3 Вторая часть тура: «Искусство тишины» (7-11 марта)
        p «Искусство тишины» - пятидневный семинар, посвященный медитации, который пройдет в крупном международном центре йоги под Бангалором. Семинар закончится празднованием Шиваратри в присутствии одного из известнейших учителей йоги - Шри Шри Рави Шанкара.
        p Бангалор называют город-парк, и действительно Бангалор - "зеленый город", разукрашенный разными оттенками тропических растений. Расположенный внутри континента, он находится на высоте 900 метров над уровнем моря, что делает климат удивительно мягким и свежим, тогда как в других южных индийских городах стоит жара.
        p В программе семинара:
        ul
          li Основы медитации
          li Практика пратьяхары (молчание)
          li Беседы о (строении нашего тела и о законах его существования)
          li Мантры и Бхаджаны
        p Преподаватели&nbsp;&mdash;&nbsp;Индийские мастера

      .yoga__text-block
        h3 Программа тура:
        .table
          table
            thead
              tr
                th Дата
                th Событие
            tbody
              tr
                td 25 февраля
                td Вылет из Москвы или Санкт Петербурга
              tr
                td 25 февраля - 5 марта
                td Гоа. Семинар «Искусство Дыхания»
              tr
                td 6 марта
                td Перелет в Бангалор
              tr
                td 7-11 марта
                td Семинар «Искусство Тишины»
              tr
                td 11 марта
                td Празднование Шиваратри
              tr
                td 7-11 марта
                td Вылет в Москву или Санкт-Петербург




